/* Semantische Elementen */
main {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

body {
    overflow: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    position: relative;
}

nav img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 6em;
}

nav img:hover {
    transform: translateX(-50%) translateY(-1em);
    transition: 300ms;
}

/* Display Class's */
.display-H {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.display-H-small {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 15em;
}

.display-V {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

/* Box Class's */
.box-blue {
    background: linear-gradient(
        90deg,
        rgba(50, 100, 150, 0.75) 25%,
        rgba(8, 74, 100, 0.37) 100%
    );
    padding: 2em;
    border-radius: 2em;
    text-align: center;
}

.box-green {
    background: linear-gradient(
        90deg,
        rgb(100, 150, 25, 0.75) 25%,
        rgba(42, 199, 3, 0.616) 100%
    );
    padding: 1.5em;
    border-radius: 4em;
    text-align: center;
}

.box-black {
    background-color: black;
    padding: 2em;
    border-radius: 2.5em;
    max-width: 25em;
}

.box-red {
    background: linear-gradient(
        0deg,
        rgba(255, 191, 0, 0.46) 19%,
        rgba(253, 45, 45, 0.66) 86%
    );
    padding: 5em;
    padding-bottom: 3em;
    padding-top: 3em;
    border-radius: 4em;
    text-align: center;
}

/* Individuele Container Class's */
.container-2 {
    padding: 3em;
}

.container-3 {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 10em;
}

.container-4 {
    text-align: center;
    padding-top: 5em;
}

.container-5 {
    background: radial-gradient(circle, rgb(29, 57, 199) 0%, rgb(0, 0, 0) 100%);
    padding: 1.5em;
    border-radius: 2em;
    text-align: center;
}

.container-6 {
    background: radial-gradient(circle, rgb(29, 57, 199) 0%, rgb(0, 0, 0) 100%);
    position: absolute;
    top: 76%;
    left: 21%;
    transform: translateX(-70%);
    padding: 1em;
    border-radius: 2.5em;
    border: 0.1em solid #ffffff;
}

/* Text Class's */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-big {
    font-size: 8em;
    line-height: 0.6em;
}

.text-grey {
    opacity: 0.5;
}

.text-grey-light {
    opacity: 0.75;
}

/* Text's */
h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    line-height: 1.3em;
}

main h1 {
    color: #ffbf00;
}

h2 {
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    line-height: 1.5em;
}

h3 {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.75em;
}

h4 {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1.75em;
}

p {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    line-height: 1.75em;
}

li {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    line-height: 1.5em;
}

/* Foto's */
.img-steve {
    height: 40em;
    border-radius: 3em;
}

.selfie-1 {
    position: absolute;
    top: 3%;
    left: 44%;
    transform: translateX(-70%);
    height: 21em;
    border-radius: 4em;
    border: 0.1em solid;
}

.selfie-2 {
    height: 40em;
    border-radius: 10em;
}

.selfie-3 {
    height: 25em;
    border-radius: 2em;
}

.selfie-4 {
    height: 35em;
    border-radius: 5em;
}

.koppel-foto-1 {
    height: 40em;
    border-radius: 5em;
}

.koppel-foto-4 {
    height: 45em;
    border-radius: 5em;
}

.factorio-foto-1 {
    height: 25em;
    border-radius: 5em;
}

.factorio-foto-2 {
    height: 20em;
    border-radius: 5em;
}

.video-gym {
    height: 45em;
    border-radius: 2em;
    filter: saturate(1.9);
}

.video-gym:hover,
.factorio-foto-1:hover,
.factorio-foto-2:hover,
.box-black:hover,
.container-6:hover,
.selfie-1:hover,
.selfie-2:hover,
.selfie-3:hover,
.selfie-4:hover,
.koppel-foto-1:hover,
.koppel-foto-4:hover {
    opacity: 0.7;
    transition: 300ms;
}
